// SCROLLBAR ======================================================================================

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

@media (prefers-color-scheme: light) {
    ::-webkit-scrollbar-thumb {
        background: rgba(0, 0, 0, 0.10);
    }

    ::-webkit-scrollbar-thumb:hover {
        background: rgba(0, 0, 0, 0.40);
    }
}

@media (prefers-color-scheme: dark) {
    ::-webkit-scrollbar-thumb {
        background: rgba(255, 255, 255, 0.10);
    }

    ::-webkit-scrollbar-thumb:hover {
        background: rgba(255, 255, 255, 0.40);
    }
}
